@page "/gallery";

<div class="container">
    <h1 class="photo-gallery-title">Photo Gallery</h1>
    <div class="photo-gallery">
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
        <div class="pic place">
            <img src="Content/Images/hamster-1.jpg" />
        </div>
    </div>
</div>
