.container {
    width: 100%;
    text-align: center;
}

.photo-gallery-title {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 40px 0;
}

    .photo-gallery-title::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: darkgray;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        animation: animate 3s linear infinite;
    }

@keyframes animate {
    0% {
        width: 150px;
    }

    50% {
        width: 250px;
    }

    100% {
        width: 150px;
    }
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.pic {
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: .5s ease-out;
}
.img-overlay > * {
    transform: translateY(20px);
    transition: .5s ease;
}
.img-overlay:hover {
    opacity: 1;
    cursor: pointer;
    transition: .5s ease-in;
}
.img-overlay:hover > * {
    transform: translateY(0);
}
.image-title {
    font-size: 35px;
}
.image-description {
    font-size: 20px;
    margin-top: 1.25em;
}
