.navbar-brand {
    margin-left: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0.5rem 0.5rem;
    margin-right: 5px;
    margin-left: 5px;
}

.logged-in-li {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0.5rem 0.5rem;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 8px;
}

.nav-item:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.nav-link {
    color: white;
    text-decoration: none;
}
