<div class="container my-5">
    <div class="card row flex-row-reverse">
        <img class="col-lg-3 card-img-end img-fluid p-0" src="/Content/Images/hamstahh.png" />
        <div class="col-lg-3 card-body">
            <h1 class="card-title">Hamster Wars</h1>
            <p class="card-text">Welcome to hasmter wars! In this app you will be given 2 images of random hamsters, and your job is simple.</p>
            <h5 class="card-text">Vote for the cutest one!</h5>
        </div>
    </div>
    <br />
    <NavLink href="counter">
        <button class="btn btn-outline-primary">Start random battle!</button>
    </NavLink>
</div>

@code {

}
