
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@ImageLink" />
    <div class="card-body">
        <h3 class="card-title">NAME</h3>
        <a class="btn btn-primary">VOTE</a>
    </div>
</div>

@code {
    [Parameter]
    public string ImageLink { get; set; }
}