@inject IHttpRequestService httpService;

@if (HamstersTest == null)
{
    <h2>Loading...</h2>
}
else
{
    <p>texttextext</p>
    
}


@code {
    private IEnumerable<HamsterDto> HamstersTest { get; set; }

    protected override async Task OnInitializedAsync()
    {
        HamstersTest = await httpService.GetHamstersAsync();
    }
    private void Print()
    {
        Console.WriteLine("Clicked");
    }
}